/* $Id: style-ff.css,v 0.0.3.7 22/11/2004 18:02:07 mdb Exp $
 * $Author: mdb $
 *
 * InsanePHP Stylesheet "default"
 * Client: Mozilla FireFox
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright (c) 2004 Filippo Baruffaldi <mdb AT insaneminds DOT org> <http://www.insaneminds.org>
 * All associated graphics Copyright (c) 2004 Filippo Baruffaldi
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/* Page Style */

body
{
 		font: 10px geneva, Verdana, arial, sans-serif;
	  	background: #B2B9BF;
		color: #999999;
	    text-align: center;
		margin: 6px;
}

.container
{
		background-image: url(../imgs/bgcontainer.png);
		background-repeat: repeat;
 		border: 1px solid #B2B9BF;
        width: 804px;
        margin: 0 auto;
}



/* Layout Style */

.header
{
		background-image: url(../imgs/header.png);
		background-repeat: no-repeat;
    	width: 803px;
		height: 180px;
		clear: both;
}

.location
{
		text-align: center;
		margin: 0px 0px 0px 0px;
		font-weight: bold;
}

.navigation
{
        float:left;
        width: 150px;
        \width: 160px;
        w\idth: 155px;
}

.content
{
 		background-image: url(../imgs/central.jpg);
		background-repeat: no-repeat;
    	margin: 0px 160px;
}

.footer
{
	   text-align: center;
 	   background-image: url(../imgs/bgfooter.png);
	   background-repeat: no-repeat;
       width: 803px;
	   height: 100px;
	   clear: both;
}

.footer a:hover
{
        border-bottom: 0px;
}



/* Left/Right Layer Style */

.minicontainer
{
        padding: 7px 25px 7px 25px;
}

.menutitle
{
 		background-image: url(../imgs/title.gif);
		background-repeat: repeat;
        height: 12px;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}

.menucontent
{
		background-image: url(../imgs/bgmenucontent.gif);
		background-repeat: repeat;
        padding: 3px 0px 3px 0px;
        text-align: center;
 		font-weight: bold;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}

/* Center Layer Style */

.ccontainer
{
        margin: 10px 10px 0px 7px;
}

.ctitle
{
	    background-image: url(../imgs/title.gif);
		background-repeat: repeat;
        height: 12px;
        width: 607px;
        \width: 617px;
        w\idth: 617px;
}

.ccontent
{
		background-image: url(../imgs/job.jpg);
		background-repeat: repeat;
        padding: 7px 0px 7px 0px;
        width: 607px;
        height: 500px;
 		font: 13px geneva, Verdana, arial, sans-serif;
 		font-weight: bold;
        color: #000D72;
        \width: 617px;
        w\idth: 617px;
        overflow: auto;
}



/* Layers Art's Tables Style */

.bar
{
        border: 1px solid #CCCCCC;
        width: 122px;
        \width: 132px;
        w\idth: 122px;
}

.foo
{
        border: 1px solid #CCCCCC;
        width: 607px;
        \width: 617px;
        w\idth: 617px;
}


/* Navigation System Style */

a
{
 		font: 10px geneva, Verdana, arial, sans-serif;
        color: #666666;
	    text-decoration: none;
	    font-weight: bold;
}

a:link, a:visited, a:active
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        color: #666666;
	    text-decoration: none;
}

a:hover
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        color: #999999;
        text-decoration: none;
        border-bottom: 1px dotted #FFFFFF;
}




/* Text Style */

h1
{
		font: 10px Verdana;
		font-weight: bold;
        color: #333333;
        margin: 0px 0px 0px 0px;
}



/* Others */

.text th
{
        height: 12px;
        text-align: center;
        background: #666666;
}


.text img
{
	  	border: none;
}

.tbox
{
        font: 9px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        height: 11px;
        overflow: auto;
}

.tbox2
{
        border: 1px solid #666666;
        overflow: auto;
}

.content textarea
{
        border: 1px solid #666666;
}

.text td
{
 	  	border: 1px solid #666666;
 	  	margin: 3px 0px;
  	  	text-align: left;
  	  	background-color: #999999;
}


#ok
{
		background-image: url(../imgs/ok.gif);
}

#cancel
{
	    background-image: url(../imgs/cancel.gif);
}

.lists
{
 		text-align: left;
 		margin: 0px 3px 0px 3px;
}

.lists dt
{
 		margin: 20px 0px 20px 0px;
}

.lists dd
{
 	   	color: #333333;
}

#newsi
{
	    background-image: url(../news/bg.gif);
		background-repeat: repeat;