/* $Id: style-ie.css,v 0.0.3.7 22/11/2004 18:02:07 mdb Exp $
 * $Author: mdb $
 *
 * InsanePHP Stylesheet "default"
 * Client: Microsoft Internet Explorer (Recommended version 6)
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright (c) 2004 Filippo Baruffaldi <mdb AT insaneminds DOT org> <http://www.insaneminds.org>
 * All associated graphics Copyright (c) 2004 Filippo Baruffaldi
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/* Page Style */

body
{
	font: 10px geneva, Verdana, arial, sans-serif;
	background: #000000;
        color: #999999;
        text-align: center;
	margin: 6px;
        scrollbar-3dlight-color: #000000;
        scrollbar-face-color: #000000;
        scrollbar-highlight-color: #CCCCCC;
        scrollbar-3dlight-color: #FFFFFF;
        scrollbar-darkshadow-color: #FFFFFF;
        scrollbar-shadow-color: #CCCCCC;
        scrollbar-arrow-color: #FFFFFF;
        scrollbar-track-color: #FFFFFF;
        scrollbar-base-color: #C0C0C0;
}

.container
{
        width: 800px;
        margin: 0 auto;
}



/* Layout Style */

.header
{
	border: none;
	background-image: url(../imgs/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 1px solid #000000;
	padding: 0px 0px 0px 0px;
        width: 800px;
	height: 175px;
	clear: both;
}

.location
{
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}

.navigation
{
        float:left;
        width: 150px;
        \width: 160px;
        w\idth: 155px;
}

.content
{
	background-image: url(../imgs/central.jpg);
	background-repeat: no-repeat;
        margin: 0px 160px;
}

.spot
{
        float:right;
        width: 150px;
        \width: 160px;
        w\idth: 155px;
}

.footer
{
	border: 1px dotted #FFFFFF;
        text-align:center;
        background: #3C3C3C;
        margin: 10px;
        clear:both;
}

.footer a:hover
{
        text-decoration: none;
        border-bottom: 0px solid #FFFFFF;
}


/* Left/Right Layer Style */

.minicontainer
{
        padding: 10px 10px 10px 10px;
}

.menutitle
{
	background-image: url(../imgs/title.gif);
	background-repeat: repeat;
        height: 12px;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}

.menucontent
{
	background-image: url(../imgs/spot.jpg);
	background-repeat: repeat;
        padding: 7px 0px 7px 0px;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}



/* Center Layer Style */

.ccontainer
{
        margin: 10px 10px 0px 7px;
}

.ctitle
{
	background-image: url(../imgs/title.gif);
	background-repeat: repeat;
        height: 12px;
        width: 447px;
        \width: 457px;
        w\idth: 447px;
}

.ccontent
{
	background-image: url(../imgs/central.jpg);
	background-repeat: repeat;
        padding: 7px 0px 6px 0px;
        width: 447px;
        \width: 457px;
        w\idth: 447px;
}



/* Layers Art's Tables Style */

.bar
{
        border: 1px solid #CCCCCC;
        width: 122px;
        \width: 132px;
        w\idth: 122px;
}

.bar2
{
        border: 1px solid #CCCCCC;
        width: 124px;
        \width: 134px;
        w\idth: 124px;
}

.bar3
{
        border: 1px solid #FFFFFF;
        width: 126px;
        \width: 136px;
        w\idth: 126px;
}

.bar4
{
        border: 1px solid #999999;
        width: 128px;
        \width: 138px;
        w\idth: 128px;
}

.bar5
{
        border-top: 1px solid #999999;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        width: 130px;
        \width: 140px;
        w\idth: 130px;
}


.foo
{
        border: 1px solid #CCCCCC;
        width: 447px;
        \width: 457px;
        w\idth: 447px;
}

.foo2
{
        border: 1px solid #CCCCCC;
        width: 449px;
        \width: 459px;
        w\idth: 449px;
}

.foo3
{
        border: 1px solid #FFFFFF;
        width: 451px;
        \width: 461px;
        w\idth: 451px;
}

.foo4
{
        border: 1px solid #999999;
        width: 453px;
        \width: 463px;
        w\idth: 453px;
}

.foo5
{
        border-top: 1px solid #999999;
        border-bottom: 1px solid #666666;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        width: 455px;
        \width: 465px;
        w\idth: 455px;
}



/* Navigation System Style */

a
{

        font: 10px geneva, verdana, arial, sans-serif;
        color: #972400;
	text-decoration: none;
	border: none;
}

a:link, a:visited, a:active
{
        font: 10px geneva, verdana, arial, sans-serif;
        color: #972400;
        text-decoration: none;
	border: none;
}

a:hover
{
        font: 10px geneva, verdana, arial, sans-serif;
        color: #FF6600;
        text-decoration: none;
	border-bottom: 1px dotted #CCC;
}




/* Text Style */

h1
{
	font: 10px Verdana;
	font-weight: bold;
        color: #333333;
        margin: 0px 0px 0px 0px;
}



/* Others */

.text img
{
	border: none;
}



.tbox3
{
        height: 420px;
        width: 439px;
        \width: 439px;
        w\idth: 439px;
        overflow: auto;
}

.tbox
{
        font: 9px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        height: 13px;
}

.tbox2
{
        border: 1px solid #666666;
        overflow: auto;
}


.content textarea
{
        border: 1px solid #666666;
}

.text td
{
        font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.text table
{
        font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
}



.li
{
        float: left;
        background-color: #000000;
        color: #FFFFFF;
}

.h3
{
        padding: 3px 0 16px;
        background: #000 url('film.jpg') repeat-x bottom right;
        color: #FFFFFF;
        text-align: center
}

.whitenews
{
        padding: 10px 10px;
        width: 100%;
        height: 100%;
}

.whitenews table
{
        font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #999;
        text-align: left;
        padding: 10px 10px;
}

.whitenews td
{
        font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        padding: 5px 5px;
        margin: 3px 3px;
}

.push
{
        border: 1px solid #666666;
}


.tbox3 pre
{
	font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        color: #333333;
        text-align: center;
}


.profile
{
	font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border-bottom: 1px dotted #999999;
        width: 100%;
        text-align: left;
        padding: 5px 0px 0px 7px;
}

.profile img
{
        border: 1px solid #666666;
        float: right;
        margin: 10px;
}

.profile h2
{
        margin-top: 10px;
}
.gallery
{
        width: 427px;
        \width: 437px;
        w\idth: 427px;
        height: 100%;
}
.gallery table
{
	font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        text-align: center;
        padding: 10px 10px;
        width: 100%;
}

.gallery td
{
        background-color: #999999;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-top: 1px solid #666666;
        border-right: 1px solid #666666;
        padding: 5px 5px;
        margin: 3px 3px;
        height: 15px;
        \height: 15px;
        h\eight: 15px;
        color: #333333;
}

#galtitle
{
        background-color: #666666;
        border-left: 2px solid #333333;
        border-bottom: 2px solid #333333;
        border-top: 1px solid #999999;
        border-right: 1px solid #999999;
        font-weight: bold;
        color: #FFFFFF;
}
#mgallery
{
        margin: 0px 5%;
        padding: 0
}

#mgallery li
{
        float: left;
        background-color: #000000;
        color: #FFFFFF;
        margin: 0px 0px 0px;
        padding: 0px;
        list-style-type: none
}

#mgallery h3
{
        margin: 0;
        padding: 3px 0 16px;
        background: #000 url('../imgs/film.jpg') repeat-x bottom right;
        color: #FFFFFF;
        font: 12px light arial,sans-serif;
        text-align: center;
}

#mgallery a
{
        display: block;
        padding: 3px 3px 16px;
        background: #000000 url('../imgs/film.jpg') repeat-x bottom right;
}

#mgallery a:hover
{
        color: #FFFFFF;
}

#mgallery a img
{
        border: 2px solid #000
}

#mgallery a:hover img
{
        border-color: #FFFFA0
}

#imgs
{
        background-color: #000000;
        padding: 0px;
        margin: 0px;
        height: 200px;
        width: 100%;
}

.listimgs
{
        margin: 5px 0px 5px 0px;
        width: 100%;
        height: 200px;
        float: right;
        overflow: scroll;
}

.listalbum
{
        margin: 5px;
        width: 100%;
        float: right;
}

.logparser
{
        font: 9px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        height: 500px;
        overflow: auto;
}

.tinyurl table
{
        border: 1px solid #999;
        text-align: left;
        padding: 3px 3px;
        width: 100%;
}

.tinyurl td
{
        border: 1px solid #666666;
        padding: 5px 5px;
        margin: 3px 3px;
}

#ok
{
	background-image: url(../imgs/ok.gif);
}

#cancel
{
	background-image: url(../imgs/cancel.gif);
}
