/* $Id: style-ff.css,v 0.0.3.7 22/11/2004 18:02:07 mdb Exp $
 * $Author: mdb $
 *
 * InsanePHP Stylesheet "default"
 * Client: Mozilla FireFox
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright (c) 2004 Filippo Baruffaldi <mdb AT insaneminds DOT org> <http://www.insaneminds.org>
 * All associated graphics Copyright (c) 2004 Filippo Baruffaldi
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/* Page Style */

body
{
 		font: 10px geneva, Verdana, arial, sans-serif;
	  	background: #FFFFFF;
		color: #666666;
	    text-align: center;
		margin: 6px;
}

.container
{
 		border: 1px solid #FFFFFF;
        width: 804px;
        margin: 0 auto;
}



/* Layout Style */

.header
{
	    border: 2px solid #333333;
		background-image: url(../imgs/header.jpg);
		background-repeat: no-repeat;
    	width: 800px;
		height: 250px;
		clear: both;
}

.location
{
		text-align: center;
		margin: 0px 0px 0px 0px;
		font-weight: bold;
}

.navigation
{
        float:left;
        width: 150px;
        \width: 160px;
        w\idth: 155px;
}

.content
{
 		background-image: url(../imgs/central.jpg);
		background-repeat: no-repeat;
    	margin: 0px 160px;
}

.footer
{
 	   border: 1px dotted #FFFFFF;
	   text-align:center;
	   background: #3C3C3C;
	   margin: 10px;
	   clear:both;
}

.footer a:hover
{
        border-bottom: 0px;
}



/* Left/Right Layer Style */

.minicontainer
{
        padding: 10px 10px 10px 10px;
}

.menutitle
{
 		background-image: url(../imgs/title.gif);
		background-repeat: repeat;
        height: 12px;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}

.menucontent
{
		background: #999999;
        padding: 7px 0px 7px 0px;
        width: 120px;
        \width: 130px;
        w\idth: 122px;
}



/* Center Layer Style */

.ccontainer
{
        margin: 10px 10px 0px 7px;
}

.ctitle
{
	    background-image: url(../imgs/title.gif);
		background-repeat: repeat;
        height: 12px;
        width: 607px;
        \width: 617px;
        w\idth: 617px;
}

.ccontent
{
		background-image: url(../imgs/job.jpg);
		background-repeat: repeat;
        padding: 7px 0px 7px 0px;
        width: 607px;
        height: 500px;
        \width: 617px;
        w\idth: 617px;
}



/* Layers Art's Tables Style */

.bar
{
        border: 1px solid #CCCCCC;
        width: 122px;
        \width: 132px;
        w\idth: 122px;
}

.foo
{
        border: 1px solid #CCCCCC;
        width: 607px;
        \width: 617px;
        w\idth: 617px;
}


/* Navigation System Style */

a
{

        font: 10px geneva, verdana, arial, sans-serif;
        color: #33FF99;
	    text-decoration: none;
	    border: none;
}

a:link, a:visited, a:active
{
        font: 10px geneva, verdana, arial, sans-serif;
        color: #33FF66;
        text-decoration: none;
	    border: none;
}

a:hover
{
        font: 10px geneva, verdana, arial, sans-serif;
        color: #00FF00;
        text-decoration: none;
	    border-bottom: 1px dotted #CCC;
}




/* Text Style */

h1
{
		font: 10px Verdana;
		font-weight: bold;
        color: #333333;
        margin: 0px 0px 0px 0px;
}



/* Others */

.text th
{
        height: 12px;
        text-align: center;
        background: #666666;
}


.text img
{
	  	border: none;
}

.tbox3
{
        height: 420px;
        width: 447px;
        \width: 457px;
        w\idth: 457px;
        overflow: auto;
}

.tbox
{
        font: 9px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        height: 11px;
        overflow: auto;
}

.tbox2
{
        border: 1px solid #666666;
        overflow: auto;
}

.content textarea
{
        border: 1px solid #666666;
}

.text td
{
  	  	text-align: left;
}



.li
{
        float: left;
        background-color: #000000;
        color: #FFFFFF;
}

.h3
{
        padding: 3px 0 16px;
        background: #000 url('film.jpg') repeat-x bottom right;
        color: #FFFFFF;
        text-align: center
}

.whitenews
{
        padding: 10px 10px;
        width: 100%;
        height: 100%;
}

.whitenews table
{
        border: 1px dotted #999;
        text-align: left;
        padding: 10px 10px;
}

.whitenews td
{
        border: 1px dotted #666666;
        padding: 5px 5px;
        margin: 3px 3px;
}

.push
{
        border: 1px solid #666666;
}


.tbox3 pre
{
	    font: 10px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        color: #333333;
        text-align: center;
}


.profile
{
        border-bottom: 1px dotted #999999;
        width: 100%;
        text-align: left;
        padding: 5px 0px 0px 7px;
}

.profile img
{
        border: 1px solid #666666;
        float: right;
        margin: 10px;
}

.profile h2
{
        margin-top: 10px;
}

.gallery table
{
        border: 1px solid #999;
        text-align: center;
        padding: 10px 10px;
        width: 100%;
}

.gallery td
{
        background-color: #999999;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-top: 1px solid #666666;
        border-right: 1px solid #666666;
        padding: 5px 5px;
        margin: 3px 3px;
        height: 15px;
        \height: 15px;
        h\eight: 15px;
}

#galtitle
{
        background-color: #666666;
        border-left: 2px solid #333333;
        border-bottom: 2px solid #333333;
        border-top: 1px solid #999999;
        border-right: 1px solid #999999;
        font-weight: bold;
        color: #999999;
}
#mgallery
{
        margin: 0px 5%;
        padding: 0
}

#mgallery li
{
        float: left;
        background-color: #000;
        color: #fff;
        margin: 0px 0px 0px;
        padding: 0px;
        list-style-type: none
}

#mgallery h3
{
        margin: 0;
        padding: 3px 0 16px;
        background: #000 url('../imgs/film.jpg') repeat-x bottom right;
        color: #fff;
        font: 12px light arial,sans-serif;
        text-align: center
}

#mgallery a
{
        display: block;
        padding: 3px 3px 16px;
        background: #000 url('../imgs/film.jpg') repeat-x bottom right
}

#mgallery a:hover
{
        color: #fff;
}

#mgallery a img
{
        border: 2px solid #000
}

#mgallery a:hover img
{
        border-color: #FFFFA0
}

#imgs
{
        background-color: #000000;
        padding: 0px;
        margin: 0px;
        height: 200px;
}

.listimgs
{
        margin: 5px 0px 5px 0px;
        width: 100%;
        height: 200px;
        float: right;
        overflow: scroll;
}

.listalbum
{
        margin: 5px;
        width: 100%;
        float: right;
}

#imgs
{
        width: 100%;
        //height: 100%;
}

.logparser
{
        font: 9px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #666666;
        height: 500px;
        overflow: auto;
}

.tinyurl table
{
        border: 1px solid #999;
        text-align: left;
        padding: 3px 3px;
        width: 100%;
}

.tinyurl td
{
        border: 1px solid #666666;
        padding: 5px 5px;
        margin: 3px 3px;
}

#ok
{
		background-image: url(../imgs/ok.gif);
}

#cancel
{
	    background-image: url(../imgs/cancel.gif);
}
